Repository ryanflavor/xiaoy_md: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-todos, validate-pyproject

no-print-statements:
  name: Check for print statements
  entry: \bprint\(
  language: pygrep

no-todos:
  name: Check for TODO comments
  entry: (TODO|FIXME|XXX)
  language: pygrep

validate-pyproject:
  name: Validate pyproject.toml
  entry: uv run python -c "import tomli; tomli.load(open('pyproject.toml', 'rb'))"
  language: system
  pass_filenames: false

style(test): format E2E market tick flow test via pre-commit black
  .github/workflows/ci.yml
  tests/integration/test_end_to_end_market_tick_flow.py
Due: no-todos

style(scripts): fix EOF newline in runner script
  scripts/demo_e2e_tick_to_nats.py
  scripts/run_e2e_tick_demo.sh
Due: no-todos

feat(ctp-adapter): implement subscribe/unsubscribe (Story 2.4.2)
  docs/stories/2.4.2.story.md
  src/infrastructure/ctp_adapter.py
  tests/unit/test_ctp_adapter.py
  tests/unit/test_market_data_service_flow.py
Due: no-print-statements, no-todos

style: black format rpc_nats after ruff fixes
  docs/stories/2.2.story.md
  docs/stories/2.4.3.story.md
  docs/stories/2.4.4.story.md
  docs/stories/2.4.5.story.md
  docs/stories/2.4.6.story.md
  docs/stories/2.4.7.story.md
  docs/stories/2.4.story.md
  src/__main__.py
  src/infrastructure/ctp_adapter.py
  src/infrastructure/ctp_live_connector.py
  src/infrastructure/rpc_nats.py
  tests/integration/test_nats_rpc_control_plane.py
  tmp-test.txt
Due: no-print-statements, no-todos

feat(adapter): translate vn.py exchange to vt_symbol for MarketTick.symbol; fix RPC IT imports
  scripts/ctp_connect_smoke.py
  src/infrastructure/ctp_adapter.py
  tests/integration/test_nats_rpc_control_plane.py
Due: no-print-statements, no-todos

chore(scripts): add live_ingest_verify.sh for one-click LIVE CTP→NATS verification (subscriber + ingest)
  scripts/live_ingest_verify.sh
Due: none

style: fix EOF newline in Makefile (pre-commit)
  Makefile
  README.md
Due: none

Revert "chore(scripts): add live_ingest_verify.sh for one-click LIVE CTP→NATS verification (subscriber + ingest)"
  scripts/live_ingest_verify.sh
Due: none

Revert "style: fix EOF newline in Makefile (pre-commit)"
  Makefile
  README.md
Due: none

sec: replace blind except/pass with debug logs; style: black format; fix(rpc): timeout_s parse log
  docs/stories/2.4.3.story.md
  pyproject.toml
  src/infrastructure/ctp_live_connector.py
  src/infrastructure/rpc_nats.py
Due: no-print-statements, no-todos, validate-pyproject

chore: mark live_tick_subscriber.py as executable (pre-commit shebang check)
  scripts/live_tick_subscriber.py
  scripts/start_live_ingest.sh
Due: no-todos

sec: avoid blind except in subscriber URL normalization (catch ValueError only)
  scripts/live_tick_subscriber.py
Due: no-todos

chore(scripts): add --force-env and --print-config to start_live_ingest.sh; force .env override when requested and print masked config
  scripts/start_live_ingest.sh
Due: none

feat(live): add control-plane tooling and observability
  .env.example
  Dockerfile
  Dockerfile.base
  README.md
  docker-compose.yml
  docs/perf/soak-runbook.md
  docs/perf/story-2.5-performance-report.md
  docs/qa/gates/2.4.7-live-smoke.yml
  docs/sprint-change-proposal-production-ops.md
  docs/stories/2.4.4.story.md
  docs/stories/2.4.5.story.md
  docs/stories/2.4.6.story.md
  docs/stories/2.4.7.story.md
  docs/stories/2.5.story.md
  scripts/consumers/tick_jsonl_consumer.py
  scripts/diag_live_connector.py
  scripts/ingest_e2e_smoke.py
  scripts/live_ctp_observability_check.py
  scripts/nats_smoke_check.py
  scripts/operations/full_feed_subscription.py
  scripts/perf/full_feed_soak.py
  scripts/perf/nats_throughput_probe.py
  scripts/test_bulk_subscribe.py
  scripts/test_contracts_list.py
  src/__main__.py
  src/application/services.py
  src/config.py
  src/domain/models.py
  src/infrastructure/ctp_adapter.py
  src/infrastructure/ctp_live_connector.py
  src/main.py
  src/operations/__init__.py
  src/operations/full_feed_subscription.py
  tests/integration/test_ctp_live_adapter.py
  tests/unit/test_ctp_adapter.py
  tests/unit/test_ingest_main_entry.py
  tests/unit/test_market_data_subject_and_payload.py
  tests/unit/test_observability_metrics.py
  tests/unit/test_operations_rate_limiter.py
  tests/unit/test_rate_limiter.py
Due: no-print-statements, no-todos

feat(live): add control-plane tooling and observability
  tests/unit/test_main_integration.py
  tests/unit/test_main_pytest_shutdown.py
  tests/unit/test_nats_publisher.py
Due: no-todos

Add observability and ops architecture chapter
  docs/architecture/index.md
  docs/architecture/observability-and-ops.md
Due: none

chore: update ignore rules for UI workspace
  .gitignore
Due: none

QA: approve story 3.6 after automation
  docs/qa/gates/3.6-operations-monitoring-console-ui.yml
  docs/stories/3.6.story.md
  src/application/ops_console.py
  src/application/prometheus_client.py
  src/config.py
  src/infrastructure/http/__init__.py
  src/infrastructure/http/ops_api.py
  src/infrastructure/rpc_nats.py
  tests/integration/test_ops_api.py
Due: no-print-statements, no-todos

test: extend ops console coverage
  pyproject.toml
  src/infrastructure/http/ops_api.py
  tests/unit/operations/test_full_feed_subscription_cli.py
  tests/unit/ops_console/test_ops_api.py
  tests/unit/ops_console/test_ops_console_service.py
  tests/unit/ops_console/test_prometheus_client.py
Due: no-print-statements, no-todos, validate-pyproject

Fix NATS e2e flow and shrink runtime image
  Dockerfile
  src/application/services.py
  src/config.py
  src/infrastructure/ctp_adapter.py
  src/infrastructure/nats_publisher.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_end_to_end_market_tick_flow.py
  tests/integration/test_nats_rpc_control_plane.py
  tests/unit/test_ctp_adapter.py
  tests/unit/test_market_data_service_flow.py
  tests/unit/test_nats_publisher_unit.py
Due: no-print-statements, no-todos

Fix CI regression from secret masking and NATS canonicalization
  src/config.py
  src/infrastructure/nats_publisher.py
Due: no-print-statements, no-todos

Fix NATS e2e flow and shrink runtime image
  tests/unit/test_ctp_adapter.py
Due: no-todos

Improve live connector coverage and mask placeholder tests
  tests/unit/test_config_security.py
  tests/unit/test_ctp_live_connector_unit.py
  tests/unit/test_nats_publisher_unit.py
Due: no-todos

fix: add missing temp_env_file fixture to test_audit_log_creation
  tests/unit/operations/test_start_live_env.py
Due: no-todos

fix: add missing docker_test_image fixture for NATS integration tests
  tests/integration/test_nats_health_check.py
Due: no-todos

fix: adapt NATS integration tests to use existing containers in CI
  tests/integration/test_nats_health_check.py
Due: no-todos

fix: update NATS tests to connect to correct port in CI
  tests/integration/test_nats_health_check.py
Due: no-todos

fix: add NATS authentication for CI tests
  tests/integration/test_nats_health_check.py
Due: no-todos

Path conditions:
  no-print-statements: any of: \.py$, but not: ^(scripts/|tests/)
  no-todos: any of: \.py$, but not: ^(docs/|\.github/)
  validate-pyproject: any of: pyproject.toml
